# Django settings
DJANGO_SECRET_KEY=#94eprd6_o_8c*=cjvpon(66hnpbx6wwb#_0(txv)6g=+@d07& 
DJANGO_DEBUG=True 
DJANGO_HOST=backend

# Database 
MYSQL_DATABASE=photomingle
MYSQL_USER=photomingleuser
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root_secret

# SMTP two factor
SMTP_SERVER=
SMTP_SENDER=
SMTP_PASSWORD=
SMTP_OTP_SALT=

#s3
USE_S3=
AWS_S3_BUCKET_NAME=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME="ru-central1"

GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin